*{
    box-sizing: border-box;
}
:root{

    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    --White: hsl(0, 100%, 100%);
}

body{
    background-color: var(--Violet);
    background-image: url("images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: auto;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: var(--White);
}